:root {
    --text-dark: #023047;
    --second: #219ebc;
    --accent: #fb8500;
    --accent-active: #cc6d00;
}

.hero-header {
    width: 100%;
    height: 100vh;
    background: url(/img/hero.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero-header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}
.navbar {
    transition: 0.3s ease-in-out;
}
.navbar ul li a {
    color: white !important;
}
.navbar ul li a.active {
    color: var(--accent) !important;
}
.nav-transparent {

}
.btn-accent {
    background-color: var(--accent);
    color: white;
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
    background-color: var(--accent-active) !important;
    color: white !important;
}

.navbar-toggler {
    color: white;
    border: none;
}
.navbar-toggler .navbar-toggler-icon {
    color: #cc6d00;
}


.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}


.hamburger .line{
    width: 35px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  /* ONE */
  
  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }